/* Heading */

.heading {
    font-size: 5rem;
    font-family: 'Kirang Haerang', cursive;
}


/* Main */

.companyabout {
    font-size: 3rem;
    margin-top: 13%;
}

.companyabout2 {
    font-size: 1.5rem;
    margin-top: 5%;
}

.companycontent {
    font-size: 1.5rem;
}


/* Blocks */

.block1 {
    background-color: lightgrey;
}

.block2 {
    background-color: #343a40;
}

.list {
    font-size: 1.5rem;
}

.topic {
    font-size: 1.5rem;
    color: white;
}

.qoute {
    font-size: 1.8rem;
}

.namee {
    font-size: 1rem;
}

.mail {
    font-size: 1.5rem;
}


/* Copyright */

.end {
    color: white;
    background-color: #343a40;
    padding: 2%;
    font-size: 1.8rem;
}